.search {
  .search-wrapper {
    @apply h-[64px] bg-white flex flex-row justify-between items-center px-3 gap-2;
  }

  .logo {
    @apply flex justify-center items-center h-[54px] w-[54px] rounded-[54px] relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      opacity: 0.4;
      border-top: 1px solid rgba(var(--primary), 1);
      filter: drop-shadow(0 0 2px rgba(var(--primary), 1))
        drop-shadow(0 0 5px rgba(var(--primary), 1))
        drop-shadow(0 0 10px rgba(var(--primary), 1))
        drop-shadow(0 0 20px rgba(var(--primary), 1));
      animation: rotate 5s infinite linear;
    }

    &::after {
      @apply delay-300;
    }
    &.loading {
      &::before,
      &::after {
        @apply duration-500;
      }
      &::after {
        @apply delay-300;
      }
    }
  }

  .search-content {
    @apply flex flex-col items-center justify-center w-full h-full;
  }
  .search-field {
    @apply w-full h-[54px] p-0 rounded-md border-none outline-none text-xl font-light bg-transparent;
  }

  .result {
    @apply border-t border-gray-100;
    .list {
      @apply flex flex-col px-2 py-2 gap-1;
    }

    .item {
      @apply flex items-center justify-between px-3 h-12 cursor-pointer rounded-sm overflow-hidden;

      &:hover,
      &.active {
        @apply bg-gray-100;
      }
      .title {
        @apply text-sm text-black font-medium;
      }
      .icon {
        @apply w-4 h-4;
      }
      .desc {
        @apply ml-auto text-xs text-gray-500 font-extralight;
      }
    }
  }
}
